@(users: Seq[User])(implicit request: RequestHeader)
@import views.html.helper.CSRF

@main("Users") {
<div>
  <div id="users">
    <h1>Create User here:</h1>
    <form action="/users" method="POST">
      @CSRF.formField
      <input name="name" type="text" placeholder="name" />
      <input name="age" type="number" placeholder="age" />
      <input type="submit" />
    </form>
    <h1>Users</h1>
    <table>
      <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Age</th>
      </tr>
      @for(u <- users){
        <tr>
          <td>@u.id</td>
          <td>@u.name</td>
          <td>@u.age</td>
        </tr>
      }
    </table>
  </div>
</div>
}
