@(data: Seq[(User, Option[Company])])(implicit request: RequestHeader)
@import views.html.helper.CSRF

@main("Users") {
<div>
  <div id="users">
    <h1>Create User here:</h1>
    <form action="/users" method="POST">
      @CSRF.formField
      <input name="name" type="text" placeholder="name" />
      <input name="age" type="number" placeholder="age" />
      <input name="companyId" type="number" placeholder="companyId" />
      <input type="submit" />
    </form>
    <h1>Users</h1>
    <table>
      <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Age</th>
        <th>Company</th>
      </tr>
      @for((user, company) <- data){
        <tr>
          <td>@user.id</td>
          <td>@user.name</td>
          <td>@user.age</td>
          <td>@company.map(_.name)</td>
        </tr>
      }
    </table>
  </div>
</div>
}
